name: Standards tests

on:
  - push
  - pull_request

jobs:
  standards:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [8.3]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: composer update --prefer-source --no-interaction --no-progress

      - name: Run code standards
        run: composer run pint:test
